.tabs-container {
  position: relative;
  display: flex;
  width: fit-content;
  background-color: white;
  border: 1px solid #0cf;
  border-radius: 4px;
}

.overflow-container {
  overflow: auto;
}

.tab {
  z-index: 0;
  padding: 4px;
  margin: 4px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: none;
}

.slider {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 0;
  background-color: #0cf;
  border-radius: 4px;
  transform: translateY(-50%);
  transition: transform 0.3s ease, width 0.3s ease;
}
