.list-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
    flex: 1;
}

.list-item {
    border-radius: 4px;
    margin-bottom: 6px;
    border: 1px solid #0000;
}

.list-item:not(.active):hover {
    background-color: #fff;
    border: 1px solid #bababa;
}

.category-title {
    font-size: var(--font-size-sm);
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.category-title:first-of-type {
    margin-top: 6px;
}

.title-text {
    z-index: 1;
    background-color: #edeef1;
    padding: 4px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px 0 #fff, 2px 2px 2px 0 #bababa;
}

.title-text-line {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #bababa;
}

.link {
    width: 100%;
    display: inline-block;
    padding: 6px;
    padding-left: 10px;
}

.active {
    background-color: #fff;
    border: 1px solid #bababa;
    font-weight: 600;
}

.active a {
    cursor: initial;
}