.code_container {
    position: relative;
    min-height: 30px;
    padding: 4px;
}

.copy_button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.code_container > pre {
    margin: 0;
    overflow: auto;
}
